GRPC_PORT=50053
GRPC_NETWORK=tcp

MONOBANK_BASE_URL=https://api.monobank.ua
MONOBANK_CURRENCY_ENDPOINT=/bank/currency

KAFKA_BROKERS=kafka:9092
KAFKA_PORT=29092
KAFKA_ADVERTISED_HOST=localhost
KAFKA_UI_PORT=8081

EXCHANGE_RATE_IMAGE=bank-exchange-rate-service:local
KAFKA_IMAGE=bitnami/kafka:latest
KAFKA_UI_IMAGE=provectuslabs/kafka-ui:latest
